{% extends "sidebar.html" %}

{% block sidebar_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "styles/cameras.css" %}">
{% endblock %}

{% block sidebar_content %}
    {% for city in cities %}
        {% if city.id == chosen_city.id %}
            {% include "city-list-item.html" with city=city %}

            {% for camera in cameras %}
                {% if camera.id == chosen_camera.id %}
                    <li class="nav-item subitem">
                        <a class="nav-link text-white" href="{% url 'camera' city.id camera.id %}">{{ camera.name }}</a>
                    </li>
                {% else %}
                    <li class="nav-item subitem">
                        <a class="nav-link text-light" href="{% url 'camera' city.id camera.id %}">{{ camera.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        {% else %}
            {% include "city-list-item.html" with city=city %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block page_content %}
    <section class="d-flex flex-row w-100 h-100">
        {% include "delete-modal.html" %}

        <img src="{{ chosen_camera.url }}" class="center-flex-item">
    </section>
{% endblock %}

{% block sidebar_scripts %}
    {% load static %}
    <script src="{% static "scripts/delete-modal.js" %}"></script>
    <script src="{% static "scripts/cameras.js" %}"></script>
{% endblock %}