{% extends "detections-list.html" %}

{% block sidebar_list %}
    {% for person in persons %}
        <li class="nav-item d-flex flex-row justify-content-between">
            {% if person.id == chosen %}
                <a class="nav-link font-weight-bold text-light" href="{% url 'detections_by_id' person.id %}">{{ person.name }}</a>
            {% else %}
                <a class="nav-link text-light" href="{% url 'detections_by_id' person.id %}">{{ person.name }}</a>
            {% endif %}
            <button person-name="{{ person.name }}" img-src="/media/{{ person.images.first.image_file }}"
                type="button" class="btn btn-secondary mt-1 mb-1 image-button" 
                data-toggle="modal" data-target="#imageModal">Image</button>
        </li>
    {% endfor %}
{% endblock %}

{% block detections_content %}
    <div class="modal fade" id="imageModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title">title</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="text-light">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="w-100" src="" alt="modal image">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block detection_controls %}
    <button detection="{{ detection.id }}" class="btn btn-primary accurate-button">Accurate</button>
    <button detection="{{ detection.id }}" class="btn btn-secondary false-button">False positive</button>
{% endblock %}

{% block detections_scripts %}
    {% load static %}
    <script src="{% static "scripts/detections.js" %}"></script>
{% endblock %}