{% extends "base.html" %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "styles/home.css" %}">
{% endblock %}

{% block content %}
    <div class="d-flex flex-column h-100 w-100 bg-black text-light overflow-auto">
        <article class="center-flex-item text-center text-monospace d-flex flex-column">
            <h1 id="heading" class="center-flex-item">Welcome to the watcher system!</h1>
            <h3 id="subheading" class="center-flex-item">
                We have registered {{ verified_count }} verified and {{ unverified_count }} 
                unverified detections, {{ wanted_count }} wanted people, {{ cameras_count }} 
                cameras in {{ cities_count }} cities and {{ users_count }} overseers.
            </h3>
        </article>
    </div>
{% endblock %}