{% extends "base.html" %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "styles/login.css" %}">
{% endblock %}

{% block content %}
    <section class="text-center d-flex flex-column bg-black text-light overflow-auto w-100 h-100" id="page"> 
        <form class="form-signin was-validated center-flex-item" action="/login" method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
            <label for="userInput" class="sr-only">User name</label>
            <input type="text" id="userInput" class="form-control is-invalid" placeholder="User name" required="" autofocus="" name="username">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control is-invalid" placeholder="Password" required="" name="password">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </section>
{% endblock %}