{% extends "sidebar.html" %}

{% block sidebar_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "styles/persons.css" %}">
{% endblock %}
 
{% block sidebar_content %}
    {% for person in persons %}
        <li class="nav-item d-flex flex-row justify-content-between">
            {% if person.id == chosen.id %}
                <a class="nav-link text-light text-bold font-weight-bold" href="{% url 'modify_person' person.id %}">{{ person.name }}</a>
            {% else %}
                <a class="nav-link text-light" href="{% url 'modify_person' person.id %}">{{ person.name }}</a>
            {% endif %}
            <button url="{% url 'modify_person' person.id %}" modal-title="Delete {{ person.name }}"
                modal-body="Are you sure you want to completely delete {{ person.name }}?"
                type="button" class="btn btn-secondary mt-1 mb-1 modal-button" data-toggle="modal" 
                data-target="#deleteModal">Delete</button>
        </li>
    {% endfor %}
{% endblock %}

{% block page_content %}
    <section id="person" class="d-flex flex-row flex-wrap w-100 h-100">
        {% if chosen %}
            {% url 'modify_person_images' chosen.id as person_images %}
            {% include "image-input.html" with send_text="Add image" action=person_images %}
        {% endif %}

        {% include "delete-modal.html" %}

        <section id="imagesContainer" class="center-flex-item">
            <div id="images">
                {% for image in images %}
                    <div class="image">
                        <img class="w-100" src="{{ image.image_file.url }}">
                        <button url="{% url 'modify_person_image' chosen.id image.id %}" class="btn btn-secondary btn-lg active" role="button">Delete</button>
                    </div>
                {% endfor %}
            </div>
        </section>
    </section>
{% endblock %}

{% block sidebar_scripts %}
    {% load static %}
    <script src="{% static "scripts/image-input.js" %}"></script>
    <script src="{% static "scripts/persons.js" %}"></script>
    <script src="{% static "scripts/delete-modal.js" %}"></script>
{% endblock %}