{% extends "base.html" %}

{% block css %}
{% load static %}
    <link rel="stylesheet" href="{% static "styles/image-input.css" %}">
{% endblock %}

{% block content %}
    <section processed="{{ processed }}" class="d-flex flex-column h-100 bg-black text-light overflow-auto">
        {% with heading='<h1 class="h3 mb-3 mt-1 font-weight-normal text-center">Send image for recognition</h1>' %}
            {% url 'recognition' as recognition %}
            {% include "image-input.html" with before_input_content=heading send_text="Send" action=recognition %}
        {% endwith %}   
    </section>
{% endblock %}

{% block scripts %}
{% load static %}
    <script src="{% static "scripts/image-input.js" %}"></script>
    <script src="{% static "scripts/recognition.js" %}"></script>
{% endblock %}