{% extends "base.html" %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "styles/sidebar.css" %}">
    {% block sidebar_css %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <aside class="shadow col bg-dark text-light" id="sidebar">
                <ul class="nav flex-column" id="sidebarItems">
                    <li class="nav-item sidebar-search">
                        <input type="text" class="form-control form-control-dark" placeholder="Search...">
                    </li>
                    {% block sidebar_content %}{% endblock %}
                </ul>
            </aside>
            
            <div class="col bg-black" id="content">
                {% block page_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static "scripts/sidebar.js" %}"></script>
    {% block sidebar_scripts %}{% endblock %}
{% endblock %}