{% extends "detections-list.html" %}

{% block sidebar_list %}
    {% for person in persons %}
        <li class="nav-item">
            {% if person.person_id == chosen %}
                <a class="nav-link font-weight-bold text-light" href="{% url 'verified_by_id' person.person_id %}">{{ person.name }}</a>
            {% else %}
                <a class="nav-link text-light" href="{% url 'verified_by_id' person.person_id %}">{{ person.name }}</a>
            {% endif %}
        </li>
    {% endfor %}
{% endblock %}

{% block detection_controls %}
    <button detection="{{ detection.id }}" class="btn btn-danger delete-button">Delete</button>
{% endblock %}

{% block detections_scripts %}
    {% load static %}
    <script src="{% static "scripts/verified.js" %}"></script>
{% endblock %}