{% extends "base.html" %}

{% block content %}
<section id="person" class="d-flex flex-row flex-wrap w-100 h-100">
    <section id="imageFormContainer" class="center-flex-item">
        <img src="" class="d-block w-100 mt-1" id="fileImage">

        <form id="imageForm" method="post">
            {% csrf_token %}
            <input type="text" id="nameInput" class="form-control mb-1 is-invalid" placeholder="Enter name" name="name" required>
            <div class="custom-file mb-1">
                <input type="file" class="custom-file-input" id="imageInput" required>
                <label class="custom-file-label" for="imageInput">Choose image...</label>
                <div class="invalid-feedback">Please choose a valid file!</div>
            </div>
            <button class="btn btn-lg btn-primary btn-block mb-1" type="submit">Add person</button>
        </form>
    </section>
</section>
{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static "scripts/image-input.js" %}"></script>
    <script src="{% static "scripts/add-person.js" %}"></script>
{% endblock %}