{% extends "base.html" %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "styles/add-person.css" %}">
{% endblock %}

{% block content %}
<section id="person" class="d-flex flex-row flex-wrap w-100 h-100 bg-black text-light">
    {% with input='<input type="text" id="nameInput" class="form-control mb-1 is-invalid" placeholder="Enter name" name="name" required>' %}
        {% include "image-input.html" with before_image_input=input send_text="Add person" action="/persons/add" %}
    {% endwith %}
</section>
{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static "scripts/image-input.js" %}"></script>
    <script src="{% static "scripts/add-person.js" %}"></script>
{% endblock %}