{% extends "base.html" %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "cameras.css" %}">
{% endblock %}

{% block content %}
    <section class="container-fluid" id="wrapper">
        <section class="row">
            <section class="sidebar-wrapper col col-sm-4 col-md-2 col-lg-2" id="sidebar">
                <nav class="nav flex-column">
                    <button class="btn btn-primary" id="close-button">Close</button>

                    <li class="nav-item item">
                        <a class="nav-link font-weight-bold text-dark" href="#">item</a>
                    </li>
                    <li class="nav-item subitem">
                        <a class="nav-link text-secondary" href="#">item</a>
                    </li>
                    <li class="nav-item subitem">
                        <a class="nav-link text-secondary" href="#">item</a>
                    </li>
                </nav>
            </section>
            
            <div class="mt-4 ml-4 col">
                <button class="btn btn-primary" id="open-button">Open</button>
                <h1>Simple Sidebar</h1>
                <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
                <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
            </div>
        </section>
    </section>
{% endblock %}

{% block scripts %}
    <script>
        $("#open-button").css("display", "none");

        $("#close-button").click(function(e) {
            e.preventDefault();

            $("#sidebar").css("display", "none");
            $("#open-button").css("display", "inline-block");
        });

        $("#open-button").click(function(e) {
            e.preventDefault();

            $("#sidebar").css("display", "inline-block");
            $("#open-button").css("display", "none");
        });
    </script>
{% endblock %}