{% extends "sidebar.html" %}

{% block sidebar_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "styles/detections.css" %}">
    <link rel="stylesheet" href="{% static "styles/detections-list.css" %}">
{% endblock %}

{% block sidebar_content %}
    <li class="nav-item">
        <a id="allLink" class="nav-link text-dark" href="/detections">All</a>
    </li>
    {% for person in persons %}
        <li class="nav-item d-flex flex-row justify-content-between">
            {% if person.person_id == chosen %}
                <a class="nav-link font-weight-bold text-dark" href="/detections/{{ person.person_id }}">{{ person.name }}</a>
            {% else %}
                <a class="nav-link text-dark" href="/detections/{{ person.person_id }}">{{ person.name }}</a>
            {% endif %}
            <button type="button" class="btn btn-dark mt-1 mb-1" data-toggle="modal" data-target="#{{ person.name }}">Image</button>
        </li>
    {% endfor %}
{% endblock %}

{% block page_content %}
    {% for person in persons %}
        <div class="modal fade" id="{{ person.name }}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ person.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img class="w-100" src="/media/{{ person.photo }}">
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <nav id="topNav">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

    <section class="d-flex flex-column">
        <div class="card-columns center-flex-item">
            {% for detection in detections %}
                <div class="card text-white bg-dark border-primary">
                    <img class="card-img-top" src="/media/{{ detection.image.image_file.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ detection.person.name }} in {{ detection.city.name }}</h5>
                        <p class="card-text"><small class="text-muted">{{ detection.date }}</small></p>
                        <button detection="{{ detection.id }}" class="btn btn-primary accurate-button">Accurate</button>
                        <button detection="{{ detection.id }}" class="btn btn-secondary false-button">False positive</button>
                    </div>
                </div>
            {% endfor %}
        </div>        
    </section>

    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block sidebar_scripts %}
    {% load static %}
    <script src="{% static "scripts/detections.js" %}"></script>
    <script src="{% static "scripts/detections-list.js" %}"></script>
{% endblock %}