{% extends "base.html" %}

{% block content %}
    <section class="d-flex flex-column h-100 w-100 bg-black text-light overflow-auto">
        <h1 class="text-monospace center-flex-item">Welcome to the watcher system!</h1>
        <article class="center-flex-item">
            <h2 class="text-monospace center-flex-item">* we have registered 20 verified detections</h2>
            <h2 class="text-monospace center-flex-item">* we have registered 20 uverified detections</h2>
            <h2 class="text-monospace center-flex-item">* 30 people are being wanted</h2>
            <h2 class="text-monospace center-flex-item">* we have 10 working cameras</h2>
            <h2 class="text-monospace center-flex-item">* we 5 people overseeing the detections</h2>
        </article>
    </section>
{% endblock %}