{% extends "base.html" %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "styles/login.css" %}">
{% endblock %}

{% block content %}
    <section class="text-center d-flex flex-column justify-content-center align-items-center" id="page"> 
        <form class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
            <label for="userInput" class="sr-only">User name</label>
            <input type="text" id="userInput" class="form-control" placeholder="User name" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </section>
{% endblock %}