{% extends "sidebar.html" %}

{% block sidebar_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "styles/persons.css" %}">
{% endblock %}

{% block sidebar_content %}
    <li class="nav-item item">
        <a class="nav-link text-dark text-bold font-weight-bold" href="#">Pesho</a>
    </li>
    <li class="nav-item item">
        <a class="nav-link text-dark" href="#">Gosho</a>
    </li>
    <li class="nav-item item">
        <a class="nav-link text-dark" href="#">Kolio</a>
    </li>
    <li class="nav-item item">
        <a class="nav-link text-dark" href="#">Koce</a>
    </li>
{% endblock %}

{% block page_content %}
{% endblock %}

{% block sidebar_scripts %}
    {% load static %}
    <script src="{% static "scripts/persons.js" %}"></script>
{% endblock %}