{% extends "base.html" %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "styles/user-form.css" %}">
{% endblock %}

{% block content %}
    {% include "user-form.html" with min_password_length="8" max_password_length="50" min_username_length="6" max_username_length="20" form_title="Register" username_placeholder="Username" password_placeholder="Password" action="/register" submit_text="register" required=True %}
{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static "scripts/user-form.js" %}"></script>
{% endblock %}