{% extends "base.html" %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "styles/user-form.css" %}">
{% endblock %}

{% block content %}
    {% include "user-form.html" with max_password_length="50" max_username_length="20" form_title="Change username and/or password" username_placeholder="New username" password_placeholder="New password" action="/user" submit_text="Save settings" required=False %}
{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static "scripts/user-form.js" %}"></script>
{% endblock %}