{% extends "sidebar.html" %}

{% block sidebar_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "styles/detections-list.css" %}">
{% endblock %}

{% block sidebar_content %}
    <li class="nav-item">
        <a id="allLink" class="nav-link text-dark" href="/verified">All</a>
    </li>
    {% for person in persons %}
        <li class="nav-item">
            {% if person.person_id == chosen %}
                <a class="nav-link font-weight-bold text-dark" href="/verified/{{ person.person_id }}">{{ person.name }}</a>
            {% else %}
                <a class="nav-link text-dark" href="/verified/{{ person.person_id }}">{{ person.name }}</a>
            {% endif %}
        </li>
    {% endfor %}
{% endblock %}

{% block page_content %}
    <nav class="mt-3">
        {% include "pagination.html" %}
    </nav>

    <section class="d-flex flex-column">
        <div class="card-columns center-flex-item">
            {% for detection in elements %}
                <div class="card text-white bg-dark border-primary">
                    <img class="card-img-top" src="/media/{{ detection.image.image_file.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ detection.person.name }} in {{ detection.city.name }}</h5>
                        <p class="card-text"><small class="text-muted">{{ detection.date }}</small></p>
                        <button detection="{{ detection.id }}" class="btn btn-danger delete-button">Delete</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <nav>
        {% include "pagination.html" %}
    </nav>
{% endblock %}

{% block sidebar_scripts %}
    {% load static %}
    <script src="{% static "scripts/verified.js" %}"></script>
    <script src="{% static "scripts/detections-list.js" %}"></script>
{% endblock %}