html, body {
    height: 100%;
    width: 100%;
}

#main {
    padding-top: 56px;
    height: 100%;
}

#notifications {
    display: block;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000;
}

.message {
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1000;
}

.center-flex-item {
    margin: auto;
}

.bg-black {
    background-color: #272727;
}

.form-control {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control:focus {
    border-color: #F8F9FA;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.modal-header {
    border-bottom: 1px solid #000;
}

.page-link {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.page-link:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, .25);
    border-color: rgba(255, 255, 255, .1);
}

.page-item.disabled .page-link {
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}