#person {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#fileImage {
    max-width: 20rem;
}

#imageForm {
    margin-top: 1rem;
}

.carousel-item {
    max-height: 20rem;
    overflow: hidden;
}

@media (min-width: 800px) {
    #personImages {
        width: 30rem;
    }
    
    .carousel-item {
        max-height: 30rem;
    }
}