#page {
    height: 100%;
    width: 100%;
}

.form-register {
    min-width: 15rem;
    padding: 1rem;
}

.form-register .form-control {
    box-sizing: border-box;
    padding: 1rem;
    font-size: 1rem;
}

.form-register input[type="text"] {
    margin-bottom: -0.1rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-register input[type="password"]:not(:last-of-type) {
    margin-bottom: -0.1rem;
    border-radius: 0;
}

.form-register input[type="password"]:last-of-type {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-bottom: 0.5rem;
}